/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FEFFFF;
  font: 16px Helvetica, Arial, sans-serif;
  font-family: 'Permanent Marker', 'cursive';
  color: #0E0517;
}

a {
  font-size: 1em;
}

/**************************************************************************/
/**************** Default styles ******************************************/
/* Note that for compatibilty, styles are "Desktop first" and overriden
/* by mobile/tablet stylesheets beacuse @media queries are not recognized
/* on all desktop browsers.
/**************************************************************************/

@font-face {
  font-family: AztecHipster;
  src: url("/images/aztec_hipster.ttf");
}

header {
  background-image: url("/images/aztec-625.png");
  background-repeat: repeat-x;
  background-size: 343px;
  background-position: 0 -54px;
  text-align: center;
  height: 232px;
  overflow-x: hidden;
}

img#logo {
  margin-top: 42px;
  height: 135px;
}

nav {
  background-color: #0AB5A2;
  text-align: center;
  padding: 2px 0;
  width: 580px;
  margin: -60px auto 0;
}

nav a, nav a:visited, a.nav, a.nav:visited {
  color: #FEFFFF;
  text-decoration: none;
  font-size: 1.2em;
  margin-right: 65px;
  padding: 5px 10px;
}
 nav a:last-child {
  margin-right: 0;
 }
 nav a:hover, a.nav:hover {
  color: #FAC71E;
 }


/******************************
/**** Main layout *************
/******************************/

#main {
  width: 1070px;
  margin: auto;
  margin-top: 30px
}

#posts {
  width: 745px;
  display: inline-block;
  margin: 30px 0 0 0;
}

h2.tag {
  background-color: #4C2678;
  padding: 10px 16px;
  color: #FEFFFF;
  font-family: "Lora", "Georgia", "Times New Roman", serif;
  font-size: 1.3em;
  font-weight: normal;
  margin-left: 0;
  width: 504px;
}

footer {
  background-color: #4C2678;
  color: #FEFFFF;
  font-size: 1.2em;
  padding: 12px;
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
}

footer a, footer a:visited {
  text-decoration: none;
  color: #FEFFFF;
}

.pagination {
  font-size: 1.2em;
}

.pagination a, .pagination a:visited {
  text-decoration: none;
  color: #4C2678;
  padding: 4px 13px;
  border-radius: 4px;
  border: 1px solid  #4C2678;
  display: inline-block;
  margin-bottom: 10px;
}

.pagination .current_page, .pagination a:hover {
  color: #FEFFFF;
  background-color: #4C2678;
  padding: 4px 13px;
  border-radius: 4px;
  border: 1px solid  #4C2678;
  display: inline-block;
}


/******************************
/**** Left column *************
/******************************/


#leftcol {
  float: left;
  width: 270px;
  margin: 30px 45px 0 0;
}

#leftcol > div {
  background: #DAE6F5;
  border: 10px solid #0AB5A2;
}

#leftcol #pic img {
  width: 250px;
}

#leftcol #pic {
  position: relative;
  height: 250px;
}

#leftcol #pic a.nav {
  display: block;
  position: relative;
  bottom: 75px;
  left: 78px;
  background-color: rgba(77,175,160,0.8);
  width: 160px;
  padding: 6px;
  font-size: 1.4em;
}

/**********************************/
/****** About page ****************/
/**********************************/


#about #lead {
  font-style: oblique;
  font-size: 1.2em;
  border: 0;
}

#about #contact {
  font-style: oblique;
}

#source {
  font: 0.6em Courier New, Courier, monospace;
  color: #999999;
  border: 0;
  margin: 2em 0 0;
}

/**********************************/
/***** Posts **********************/
/**********************************/

.post, #about {
  padding: 0 15px 35px 0;
  width: 760px;
}

h1 {
  margin: 0 auto 10px;
  font-size: 2em;
  line-height: 1.4em;
  margin-bottom: 0.7em;
}

h1, h1 a, h1 a:visited {
  color: #4C2678;
  text-decoration: none;
}

h1 a:hover {
  text-decoration: underline;
}

.metadata {
  float: right;
  font-family: "Lora", "Georgia", "Times New Roman", serif;
  font-style: oblique;
  width: 185px;
  background-color: #4C2678;
  color: #FEFFFF;
  padding: 10px 12px;
  line-height: 1.4em;
}

p {
  font-family: "Lora", "Georgia", "Times New Roman", serif;
  font-size: 1em;
  line-height: 140%;
  padding: 0 1em 1.4em 0;
}

p, .disqus_thread_link {
  border-right: 1px solid #4C2678;
  width: 520px;
}

p img {
  max-width: 760px;
  border: 2px solid #4C2678;
  border-width: 5px 0;

}

p a, p a:visited {
  text-decoration: none;
  color: #4C2678;
}

p a:hover {
  text-decoration: underline;
}

span.tag {
  font-style: oblique;
}

a.tag, a.tag:visited {
  color: #FEFFFF;
  text-decoration: none;
}

a.tag:hover {
  text-decoration: underline;
}

.bottom-post-border {
  height: 19px;
  background-image: url("/images/aztec-625.png");
  background-repeat: repeat-x;
  background-position: 0 -25px;
  background-size: 40%;
}

.disqus_thread_link a {
  font-family: "Lora", "Georgia", "Times New Roman", serif;
  text-decoration: none;
  color: #4C2678;
  font-weight: 700;
}

.disqus_thread_link a:hover {
  text-decoration: underline;
}

.disqus_thread_link {
  padding-bottom: 1.5em;
  padding-right: 16px;
}

.disqus_thread_link img {
  height: 16px;
  width: 16px;
  position: relative;
  top: 4px;
}


/****************************************
/***** Small-header layout ***************
/****************************************/

@media all and (max-width: 800px) {
  header {
    height: auto;
    background-size: 363px;
    background-position: 0 -55px;
  }

  header img#logo {
    height: initial;
    width: 111%;
    margin: 47px 0 -2.1% -5.5%;
  }

  nav {
    width: 100%;
    padding: 5px 0;
    margin: 0;
  }

  nav a, nav a:visited, a.nav, a.nav:visited {
    font-size: 1.1em;
    margin: 0;
    padding: 3px 15px;
    line-height: 145%;
  }

  nav a:first-child {
    display: none;
  }

}

/****************************************
/***** Non-desktop layout ***************
/****************************************/


@media all and (max-width: 1100px) {
  body {
    font-size: 14px;
  }

  #leftcol {
    display: none;
  }

  #main {
    margin: 0;
    width: 100%;
  }

  #posts {
    margin: 0;
    padding: 0 5% 1em 5%;
    width: 90%;
  }

  h2.tag {
    width: 90%;
    margin-top: 1em;
  }

  .post, #about {
    margin: 15px 0;
    padding: 0;
    width: 100%;
  }

  .post .metadata {
    float: none;
    padding: 1.5% 3%;
    margin-bottom: 0.5em;
    width: 94%;
  }

  h2 {
    font-size: 1.6em;
    margin-bottom: 0.5em;
  }

  p {
    margin: 0 0 1em 0;
    padding: 0;
    width: 100%;
    border: none;
  }

  p img {
    border-width: 2px 0;
    width: 100%;
  }

  .bottom-post-border {
    height: 21px;
    background-position: 0 -20px;
    background-size: 265px;
  }

  .disqus_thread_link {
    border: none;
    width: 100%;
  }

  .pagination {
    text-align: center;
    margin-top: 20px;
  }

}

/*****************************************
/**** Phone only *************************
/*****************************************/

@media all and (max-width: 609px) {
  a.page_link, a.page_link:visited {
    display: none;
  }
}


/*****************************************
/**** All tablets ************************
/*****************************************/

@media all and (min-width: 610px) and (max-width: 1100px) {
  
  body {
    font-size: 16px;
  }

  nav a:first-child {
    display: inline-block;
  }

  nav a:last-child {
    display: inline-block;
  }


  #main {
    width: 600px;
    margin: auto;
    overflow: hidden;
  }

  #posts {
    width: 520px;
    margin: 0;
    padding: 0 40px;
  }

  .post {
    width: 520px;
  }

  p img {
    margin-left: -40px;
    width: 600px;
    border-width: 3px 0;
  }

  .bottom-post-border {
    height: 22px;
    background-size: 271px;
  }

}


/************************************************
/****** Landscape tablets / small desktop *******
/************************************************/

@media all and (min-width: 801px) and (max-width: 1100px) {
  header {
    height: 212px;
    background-position: 0 -47px;
    background-size: 313px;
  }

  img#logo {
    height: 117px;
  }

  nav {
    width: 500px;
    margin-top: -57px;
    margin-bottom: 20px;
  }

  nav a, nav a:visited, a.nav, a.nav:visited {
    margin-right: 25px;
    padding: 1px 10px;
  }

  #main {
    width: 760px;
  }

  #posts {
    width: 520px;
    padding: 0 115px;
  }

  .post {
    width: 520px;
  }

  p img {
    margin-left: -115px;
    width: 760px;
  }
}
