/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FEFFFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
  font-family: 'Permanent Marker', 'cursive';
  color: #0E0517;
}


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/


header {
  height: 289px;
  background-image: url("/images/aztec.jpg");
  background-repeat: repeat-x;
  background-position: 0 -230px;
}


header img#logo {
  margin-top: 25px;
}

nav {
  background-color: #4DAE9F;
  /*background-color: rgba(200,200,200,0.5);*/
  width: 100%;
  padding: 6px 0;
  position: absolute;
  top: 254px;
}

nav a, nav a:visited {
  color: #FEFFFF;
  text-decoration: none;
  font-size: 1.6em;
  margin-right: 80px;
  padding: 5px 10px;
}
 nav a:last-child {
  margin-right: 0;
 }
 nav a:hover {
  color: #FAC71E;
 }


h2 {
  font-size: 3em;
  margin: 20px auto 10px;
  color: #351758;
}

p {
  font-family: "Lora", "Georgia", "Times New Roman", serif;
  font-size: 1.4em;
  line-height: 140%;
  text-align: justify;
  padding: 0px 20px 10px 20px;
}

p.intro {
  font-size: 2em;
}

#main {
  width: 1070px;
  margin: auto;
}

#posts {
  width: 650px;
}

.post {
  padding: 15px 15px 35px 15px;
}

.bottom-post-border {
  height: 30px;
  width: 468px;
  background-image: url("/images/aztec.jpg");
  background-repeat: repeat-x;
  background-position: 0 -173px;
  margin: 0px auto 0;
}

#rightcol {
  float: right;
  width: 350px;
  margin-top: 30px;
}

#rightcol > div {
  background: #DAE6F5;
  border: 15px solid #4DAE9F;
}

#rightcol #pic img {
  width: 320px;
}

#rightcol #pic {
  position: absolute;
  height: 427px;
}

#rightcol #pic #overlay {
  position: absolute;
  bottom: 60px;
  right: 0px;
  background-color: rgba(77,175,160,0.8);
  font-size: 2em;
  color: #DAE6F5;
  width: 200px;
  padding: 10px;
}

footer {
  background-color: #4C2678;
  color: #FEFFFF;
  font-size: 1.4em;
  padding: 12px;
  margin-top: 30px;
}
