---
layout: default
title: ¡Kay Bueno!
---

{% for post in site.posts %}
	{% include post.html post=post content=post.content %}
	 <script type="text/javascript">
    var disqus_shortname = 'kaybueno';
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
{% endfor %}
