<div class="post">
	<h2><a href="{{post.url}}">{{ include.post.title }}</a></h2>
	<div class="metadata">
		Posted {{ include.post.date | date: "%B %-d, %Y" }}.
		Tags: {{ include.post.tags | make_tag_links }}
	</div>
	{{ include.content }}
    
    {% if page.url contains '/index.html' or page.url contains '/tags/' %}
	<div class="disqus_thread_link">
		<img src='/images/bullhorn.svg' />&nbsp;<a href="{{ include.post.url }}#disqus_thread">Comment on this post...</a>
	</div>
	{% endif %}

	<div class="bottom-post-border"></div>
</div>
