{% if post.coverphoto != null %}
	<img class="coverphoto" src="{{ post.coverphoto }}" />
{% elsif page.coverphoto != null %}
	<img class="coverphoto" src="{{ page.coverphoto }}" />
{% endif %}


<div class="post">

	<h1><a href="{{post.url}}">{{ include.post.title }}</a></h1>
	
	<div class="date">
		{{ include.post.date | date: "%B %-d, %Y" }}
	</div>

	{{ include.content }}
    
    <div class="tags">
		<img src='/images/tag.svg' />
		{{ include.post.tags | make_tag_links }}
	</div>

    {% if page.url contains '/index.html' or page.url contains '/tags/' %}
	<div class="disqus_thread_link">
		<img src='/images/bullhorn.svg' />&nbsp;<a href="{{ include.post.url }}#disqus_thread">Comment on this post...</a>
	</div>
	{% endif %}

</div>
<div class="bottom-post-border"></div>
